.container {
    width: 30%;
    height: 65vh;
    margin: auto;
    margin-top: 100px;
    background-color: #E1F9F4;
    border-radius: 3px;
}

h1,
p {
    text-align: center;
}

input {
    width: 80%;
    margin: 8px 50px;
    margin-left: 10%;
    border-radius: 5px;
}

.form_data_signup {
    margin-bottom: 50px;
    display: inline-block;


}

button {
    background-color: rgb(153, 153, 245);
    width: 80%;
    margin: 15px 50px;
    margin-left: 10%;
    margin-bottom: 20px;
    border-radius: 8px;
}

.log {
    margin-top: -20px;
    margin-left: -5px;
    text-decoration: none;
}